<h1 align="center"> About Rose</h1>
<hr/>
<img src ="/Images/R1.png" width="200" height="200"/>

<img src="/Images/R3.png" width="200" height="200"/>
<p>Rose established in 2020 by 
    a young entrepreneur, Mr. Bharat Gite, 
    as a joint venture with the Thoni Alutec group of companies.
     Today, we have a dedicated and experienced team that excels
      in providing peerless turnkey aluminium solutions that meet
       complex and intricate business requirements</p>
