<b>
    <i>
        <u>
            <h1 align="center">Feedback</h1>
        </u>
    </i>
</b>
<p>Name:<input type="text"></p>
<br/>
<p>PRN:<input type="text"></p>
<br/>
<p>Give Marks:<input type="text"></p>
<br/>
<p>Anything about website:<input type="text"></p>
<br/>

