@{
    ViewData["Title"] = "Display Page";
}

<div class="text-center">
    <h1 class="display-4">Delete List</h1>
    <hr/>
    @{
        string? a = this.ViewData["Res"] as string;
    }
    
    <p>@a</p>
    <form method="POST">
        <label for="rlno">Roll No: <input type="number" name="rollno" id="rlno" placeholder="Enter RollNo" /></label>
        <br/>
        <br/>
        <button class="btn btn-primary">Submit</button>
    </form>

</div>
