@* @using BOL;
@using DAL;
@using BLL; *@


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h1><b><u><i>Animal Photos</i></u></b></h1>
    <hr/>
    <br />
    <ol>
        <h3><b></b><li>Labrador</li></b></h3>
        <img src="/images/lab.jpg" height=200 width=200/><br/><hr/>
        <h3><b></b><li>Doberman</li></b></h3>
        <img src="/images/dober.jpg"  height=200 width=200/><br/><hr/>
        <h3><b></b><li>PitBull</li></b></h3>
        <img src="/images/ptibull.jpg" height=200 width=200/><br/><hr/>
        <h3><b></b><li>RottWieler</li></b></h3>
        <img src="/images/rott.jpg" height=200 width=200/><br/><hr/>
        <h3><b></b><li>German Shepherd</li></b></h3>
        <img src="/images/German.png" height=200 width=200/><br/><hr/>
    </ol>
    